@font-face {
  font-family: "Fanwood Text";
  src:
    url("fonts/FanwoodText.woff2") format("woff2"),
    url("fonts/FanwoodText.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "The Neue";
  src:
    url("fonts/TheNeue-Black.woff2") format("woff2"),
    url("fonts/TheNeue-Black.woff") format("woff");
  font-weight: 900;
  font-style: bold;
  font-display: swap;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}
/* Remove default margin */
*:not(dialog) {
  margin: 0;
  padding: 0;
}

html {
  height: 100%;
}
body {
  background-color: #f7f4ed;
  /* height: 100%; */
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.game-heading {
  text-align: center;
  font-family: "The Neue";
  font-size: 60px;
}
.container {
  display: flex;
  height: 550px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  font-family: "Fanwood Text";
  gap: 15px;
}

.board {
  display: grid;
  height: 400px;
  width: 400px;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  border: 1px solid black;
  gap: 2px;
  padding: 2px;
  background-color: #c8a96b;
}

.cell {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 4rem;
  border: 1px solid grey;
  background: #fcf2e5;
  cursor: pointer;
}

.enter-player-name-btn,
.refreshBtn {
  color: white;
  background-color: #5e3122;
  border: none;
  border-radius: 19px;
  padding: 10px 20px;
  padding-bottom: 8px;
  font-size: 19px;
  font-family: "Fanwood Text";
  cursor: pointer;
  margin: 10px 0;
}
