body {
  background-color: #f7f4ed;
}

.game-heading {
  font-size: 40px;
  text-align: center;
}
.container {
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.board {
  display: grid;
  height: 450px;
  width: 450px;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  border: 1px solid black;
  gap: 2px;
  padding: 2px;
  background-color: #c8a96b;
}

.cell {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 4rem;
  border: 1px solid grey;
  background: #fcf2e5;
  cursor: pointer;
}
